<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dummy_rtx">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dummy_rtx urdf file -->
    <xacro:include filename="$(find dummy_rtx_description)/urdf/dummy_rtx.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dummy_rtx.ros2_control.xacro" />


    <xacro:dummy_rtx_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
